body {
    background-color: #1e272e;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

.logo {
   padding: 15px; 
   background-color: #2d3436;
   color: white;
}

.websitename {
    font-size: xxx-large;
    color: white;
}